{% extends 'store/Main.html' %}

{% block content %}
{% load static %}

        <h1>Please Login Here</h1>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <br><br>
               <input type="submit" value="Log-in">
               <span style="margin-left: 25px;">Not Signed in? <a href="{% url 'register' %}">Register</a></span>
            </form>
        </div>
    
{% endblock %}